{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

    <CENTER><img src={{ url_for('static', filename = 'ai-with-voice.jpg') }} align="BOTTOM"> </CENTER>

   <div style="background-color:Gray">
    <HR >
        <H1>First Group of Audio files for testing</H1>
       <audio controls src="audio/Madona & Justin Timberlake & Timberlend - 4 Minutes.mp3"></audio>
       <audio controls src="audio/Madona & Justin Timberlake & Timberlend - 4 Minutes.mp3"></audio>
       <audio controls src="audio/Madona & Justin Timberlake & Timberlend - 4 Minutes.mp3"></audio>
       <audio controls src="audio/Madona & Justin Timberlake & Timberlend - 4 Minutes.mp3"></audio>
       <audio controls src="audio/Madona & Justin Timberlake & Timberlend - 4 Minutes.mp3"></audio>
    <HR>
   </div>

   <div style="background-color:Gray">
     <HR >
       <H1>Second Group of Audio files for testing</H1>
       <audio controls src="audio/Madona & Justin Timberlake & Timberlend - 4 Minutes.mp3"></audio>
       <audio controls src="audio/Madona & Justin Timberlake & Timberlend - 4 Minutes.mp3"></audio>
       <audio controls src="audio/Madona & Justin Timberlake & Timberlend - 4 Minutes.mp3"></audio>
       <audio controls src="audio/Madona & Justin Timberlake & Timberlend - 4 Minutes.mp3"></audio>
       <audio controls src="audio/Madona & Justin Timberlake & Timberlend - 4 Minutes.mp3"></audio>
    <HR>
   </div>

{% endblock %}